/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
  line-height: 1.5;
  font-family: "Roboto Serif", "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Geologica", "Helvetica", sans-serif;
  clear: both;
}

.time {
  color: #666;
  margin-top: -3em;
  float: right;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: dodgerblue;
}

a:visited {
  color: rgb(41, 127, 212)
}

a.internal-link.not-created-yet {
  color: rgb(183, 90, 148);
}

.navitem {
  /* TODO - we should use an actual list element to do navigation items */
  display: block;
  padding: 3px 10px;
}

.navitem.is-active {
  background-color: #eee;
}

.approach {
  background-color: lightgreen;
}

.aside, .block, .summary {
  padding: 0.2em 1em;
  border-radius: 0.5em;
}

.summary {
  background-color: #eee;
  font-size: 0.9em;
  color: #444
}

.summary h2 {
  font-size: 1.2em;
}

.aside {
  background-color: #e8d9ea;
}

.block {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.block h2 {
  min-width: 8em;
}

.minimal {
  font-weight: 300;
}

h2 .meta, h3 .meta {
  font-weight: 300;
  color: #666;
}

.meta.type {
  font-style: italic;
  font-size: 0.6em;
  font-family: "Roboto Serif", "Times New Roman", serif;
}